.header {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100%;
  
  &__logo {
    display: flex;
    align-items: center;
    animation: 1s backInLeft;
  }

  .user-profile {
    display: flex;
    align-items: center;
    
    * {
      margin-right: 10px;
    }

    .login {
      display: flex;
      align-items: center;
    }

    svg {
      font-size: 24px;
    }
  }
}