@import '~antd/dist/antd.css';

$container-width: 960px;

.container {
  max-width: $container-width;
  left: 0;
  right: 0;
  margin: 0 auto;
}

header {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  height: 103px;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);

  .logo {
    display: flex;
    align-items: center;
  }

  .user-profile {
    display: flex;
    align-items: center;
    
    * {
      margin-right: 10px;
    }

    .login {
      display: flex;
      align-items: center;
    }

    svg {
      font-size: 24px;
    }
  }
}


// Gallery style
.gallery {
  text-align: center;
  
  .products-show {
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: center;

    .card {
      width: 335px;
      height: 300px;
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        width: 150px;
        height: 150px;
      }

      p {
        display: block;
        width: 150px;
        text-align: center;
      }
    }
  }
}

.more-products {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .more-products-card {
    width: $container-width / 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out;
    margin-bottom: 1.5rem;

    &:hover {
      transform: scale(1.1);
    }

    img {
      width: 100px;
      height: 100px;
    }

    p {
      display: block;
      width: 10rem;
      text-align: center;
      margin-bottom: 0;
    }
  }
}

.collapse-active {
  height: 0;
  overflow: hidden;
}

#more-products-link {
  display: block;
}